{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center">


    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="bg-gray-100 dark:bg-gray-800 flex flex-col p-4 shadow-md rounded-2xl">

    {{ form_start(requestForm) }}

    <h1 class="text-2xl font-bold mb-3 text-center">Reset your password</h1>
     {{ form_label(requestForm.email, null, {'label_attr': {'class': 'block mb-2 text-sm font-medium
            text-gray-900 dark:text-white'}}) }}
            {{ form_widget(requestForm.email, {'attr': { 'class': 'bg-gray-50 border border-gray-300 text-gray-900
            text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
            <div class="text-red-500">{{ form_errors(requestForm.email) }}</div>
        <div class="mt-2">
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>
        <button class="mt-3 bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded">Send password reset email</button>
    {{ form_end(requestForm) }}
    </div>
    </div>
{% endblock %}