{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center">
 <div class="bg-gray-100 dark:bg-gray-800 flex flex-col p-4 shadow-md rounded-2xl min-w-lg">

    <h1 class="text-2xl font-bold mb-3 text-center">Reset your password</h1>

    {{ form_start(resetForm) }}
    <div class="mb-4">
    {{ form_label(resetForm.plainPassword.first, null, {
        label_attr: {
            class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
        }
    }) }}
    {{ form_widget(resetForm.plainPassword.first, {
        attr: {
            class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white'
        }
    }) }}
    <div class="text-red-500">
        {{ form_errors(resetForm.plainPassword.first) }}
    </div>
</div>

<div class="mb-4">
    {{ form_label(resetForm.plainPassword.second, null, {
        label_attr: {
            class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'
        }
    }) }}
    {{ form_widget(resetForm.plainPassword.second, {
        attr: {
            class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white'
        }
    }) }}
    <div class="text-red-500">
        {{ form_errors(resetForm.plainPassword.second) }}
    </div>
</div>
    

        <button class="mt-3 bg-indigo-600 hover:bg-indigo-700 text-white px-4 py-2 rounded">Reset password</button>
    {{ form_end(resetForm) }}
    </div>
    </div>
{% endblock %}

